<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  add
</button>
<div style="color: black;   " class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">STUDENT DETAILS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"  >



<table>
  <tr>
    <th>name</th>
    <th>regno</th>
    <th>age</th>
    <th>gender</th>
    <th>dip</th>
  </tr>
<div class="form-group" style="color: black; ">
  <form [formGroup]="studentForm">
    <tr>
    <td><input type="text" class="form-control " formControlName="name" name="name" placeholder="Name"></td>
    <td><input type="number" class="form-control " formControlName="regno" name="regno" placeholder="Student ID"[readOnly]="isEdit"></td>
    <td><input type="number" class="form-control " formControlName="age" name="age"  placeholder="age"></td>
    <td>
        <input type="radio" value="male" name="gender" id="gender" formControlName="gender">
        <label for="male">Male</label>
        <input type="radio" value="female" name="gender" id="gender" formControlName="gender">
        <label for="female">Female</label>
        <input type="radio" value="other" name="gender" id="gender" formControlName="gender">
        <label for="female">other</label></td>
        <td>
  <label for="dipart">Choose a DIPARTMENT:</label>
<select for="dipart" name="dipart"  formControlName="dipart">
  <option  disabled>--select--</option>
  <option for="B.sc" name="dipart" id="dipart" value="B.sc" >B.SC</option>
  <option for="BCA"  name="dipart" id="dipart" value="BCA" >BCA</option>
  <option for="BBA"  name="dipart" id="dipart" value="BBA">BBA</option>
</select></td></tr>
  <!-- <div class="form-group mt-2">
    <label for="dipart">DIPARTMENT</label>&nbsp;&nbsp;&nbsp;
    <input type="radio" value="B.sc" name="dipart" id="dipart" formControlName="dipart">
    <label for="B.sc">B.sc</label>&nbsp;&nbsp;
    <input type="radio" value="BCA" name="dipart" id="dipart" formControlName="dipart">
    <label for="BCA">BCA</label>&nbsp;&nbsp;
    <input type="radio" value="BBA" name="dipart" id="dipart" formControlName="dipart">
    <label for="BBA">BBA</label>&nbsp;&nbsp;
</div> -->
</form></div></table>
<button (click)="edit()" *ngIf="isEdit">Edit</button>



</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-secondary" (click)="add()" *ngIf="!isEdit" data-dismiss="modal">ADD</button>
  <button type="button" class="btn btn-secondary" (click)="resetForm()" *ngIf="!isEdit">Reset</button>
  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
</div>
</div>
</div>
</div>