<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  add
</button>
<div style="color: black;   " class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">STUDENT DETAILS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"  >
<table style="width: 750px;">
<div class="form-group" style="color: black; ">
  
  <form [formGroup]="studentForm">
      <ng-container formArrayName="datasorce" >
        <div class="col-6" *ngFor="let datasorce of contactFormGroup; let i = index;"> 
        <ng-container [formGroupName]="i">
    <tr>
    <td><p><input type="text" style="width:100px" class="form-control " formControlName="name" name="name" placeholder="Name"></p></td>
    <td><p><input type="number"style="width:100px" class="form-control " formControlName="regno" name="regno" placeholder="Student ID"[readOnly]="isEdit"></p></td>
    <td><p><input type="number"style="width:100px" class="form-control " formControlName="age" name="age"  placeholder="age"></p></td>
    <td><p style="display: flex;">
        <input type="radio" value="male" name="gender" id="gender" formControlName="gender">
        <label for="male">Male</label>
        <input type="radio" value="female" name="gender" id="gender" formControlName="gender">
        <label for="female">Female</label>
        <input type="radio" value="other" name="gender" id="gender" formControlName="gender">
        <label for="female">other</label></p></td>
        <td><p>
<select for="dipart" name="dipart"  formControlName="dipart">
  <option  disabled>--select--</option>
  <option for="B.sc" name="dipart" id="dipart" value="B.sc" >B.SC</option>
  <option for="BCA"  name="dipart" id="dipart" value="BCA" >BCA</option>
  <option for="BBA"  name="dipart" id="dipart" value="BBA">BBA</option>
</select></p></td></tr>
  <!-- <div class="form-group mt-2">
    <label for="dipart">DIPARTMENT</label>&nbsp;&nbsp;&nbsp;
    <input type="radio" value="B.sc" name="dipart" id="dipart" formControlName="dipart">
    <label for="B.sc">B.sc</label>&nbsp;&nbsp;
    <input type="radio" value="BCA" name="dipart" id="dipart" formControlName="dipart">
    <label for="BCA">BCA</label>&nbsp;&nbsp;
    <input type="radio" value="BBA" name="dipart" id="dipart" formControlName="dipart">
    <label for="BBA">BBA</label>&nbsp;&nbsp;
</div> -->
</ng-container>
</div>
</ng-container>
</form></div></table>
</div>
<div class="modal-footer" >
  <button (click)="addrow()" >Edit</button>
  <button type="button" class="btn btn-secondary" (click)="add()" *ngIf="!isEdit" data-dismiss="modal">ADD</button>
  <button type="button" class="btn btn-secondary" (click)="resetForm()" *ngIf="!isEdit">Reset</button>
  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
</div>
</div>
</div>
</div>