<h2>Register</h2>
<form [formGroup]="registerForm1" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="row col-5">
            <div class="form-group">
                <label for="name">Student Name:</label>
                <input type="text" placeholder="Enter Student Name" id="name" formControlName="name" maxlength="30"
                    class="form-control" autocomplete="off">
                <span id="error-message" *ngIf="!details_form.get('name').valid && details_form.get('name').touched"
                    class="help-block">*Enter Student Name</span>
            </div>
            <div class="form-group">
                <label for="department">Department:</label>
                <input type="text" placeholder="Enter Your Department" id="department" formControlName="department"
                    class="form-control" autocomplete="off">
                <span id="error-message" *ngIf="details_form.get('department').status==invalid"
                    class="help-block">*Enter Your Department</span>
            </div>
           <div class="form-group mt-1">
                    <label for="age">Age:</label>
                    <input type="text" placeholder="Enter Your Age" id="age" name="age" formControlName="age"
                        minlength="1" maxlength="2" (keypress)="phon($event)" class="form-control" autocomplete="off">
                    <span id="error-message" *ngIf="details_form.get('age').status==invalid" class="help-block">*Enter
                        Your Age</span>
                </div>
    <div class="form-group mt-2">
        <label for="gender">Gender:</label>&nbsp;&nbsp;&nbsp;
        <input type="radio" value="male" name="gender" id="gender" formControlName="gender">
        <label for="male">Male</label>&nbsp;&nbsp;
        <input type="radio" value="female" name="gender" id="gender" formControlName="gender">
        <label for="female">Female</label>&nbsp;&nbsp;
        <input type="radio" value="other" name="gender" id="gender" formControlName="gender">
        <label for="female">other</label>&nbsp;&nbsp;
    </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="mt-3">
        <button id="sub-Btn" style="float: right;" (click)="update()" class=" btn bg-primary text-light"
            [disabled]="!details_form.valid">update</button>
    </div>
</form>
